<div class="container">
 <div class="jumbotron">
  <h2>Link List</h2>
  <hr>
  <% @links.each do |link| %>
   <table>
      <tr>
       <td>
        <p><a href="<%=link.linkAddress %>"><%=link.linkAddress %></a></p>
       </td>
       </tr>
       <tr>
       <td>
        <p>Posted by: <% if link.linkAuthor != "" %>
        <b>"<%=link.linkAuthor %>"</b>
        <% else %>
        <b>"Anonymous"</b>
        <% end %></p>
       </td>
      </tr>
   </table>
   </br>
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target=".comment<%=link.id%>">Reply</button>
   <div class="comment<%=link.id%> collapse" style="margin-left:50px">
   <table>
    <col width="250">
    <col width="700">
    <br>
     <% @comments.where(links_id: link.id).find_each do |comment| %>
      <tr>
       <td>
        <b><%=comment.author %>:</b>
       </td>
       <td>
        <%=comment.comment %>
       </td>
      </tr>
      <tr><td>&nbsp</td></tr>
      <% end %>
      <tr><td>&nbsp</td></tr>
      </table>
      <table>
       <col width="200">
       <col width="700">
       <form id="Form <%=link.id%>" action="/comment" method="POST">
        <tr>
         <td>
          Author:
          </td>
          <td> 
          <input type="text" cols="50" name="comment[author]" required>
          </td>
          </tr>
          <tr><td>&nbsp</td></tr>
          <tr>
           <td>
            Comment:
           </td>
           <td>
            <textarea rows="4" cols="50" name="comment[comment]" placeholder="Comment text." required></textarea>
           </td>
          </tr>
          <input type="hidden" name="comment[links_id]" value=<%=link.id%> />
          <tr><td>&nbsp</td></tr>
          <tr><td>
          <input type="submit" class="btn btn-default" value="Post">
          </td></tr>
        </form>
      </table>
   </div>
   <tr>
    <td>
     <hr>
    </td>
   </tr>
   <% end %>
   </table>
 </div>
</div>